body {
  background-color: #DEE;
  margin-left: 10%;
}

#title {
  color: #A33;
  font-size: 500%;
  font-family: tahoma, sans-serif;
  font-weight: bold;
}

h1 {
  color: #900;
}

#tokimons {
  border: 1px solid black;
  width: 70%;
  height: 20%;
}

#trainersTokimons {
  background-color: #77C;
}
thead {
  background-color: #B55;
}

table {
  border: 1px solid black;
  width: 70%;
  height: 20%;
}
th {
  border: 1px solid black;
  text-align: center;
}
td {
  background-color: #EEE;
  text-align: center;
}
.borderedTD {
  text-align: left;
  border: 1px solid black;
  padding: 1% 5% 1% 1%;
}
