body {
  background-color: #CEE;
  margin-left: 10%;
}

h1 {
  color: #900;
}

#tokimons {
  border: 1px solid black;
  width: 70%;
  height: 20%;
}
table {
  border: 1px solid black;
  width: 70%;
  height: 20%;
}
th {
  border: 1px solid black;
  background-color: #B55;
  text-align: center;
}
td {
  background-color: #EEE;
  text-align: center;
}
.borderedTD {
  text-align: left;
  border: 1px solid black;
  padding: 1% 5% 1% 1%;
}
